<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>재고 입고 등록</title>
</head>
<body>
<div th:insert="fragment/fragments :: nav"></div>
<h1>재고 입고 등록</h1>
<form th:action="@{/inventory/inbound}" th:object="${inventoryInbound}" method="post">
    <label>제품:
        <select th:field="*{productId}" required>
            <option value="">--제품 선택--</option>
            <option th:each="prod : ${products}"
                    th:value="${prod.productId}"
                    th:text="${prod.name}"></option>
        </select>
    </label><br>
    <label>창고:
        <select th:field="*{code}" required>
            <option value="">--창고 선택--</option>
            <option th:each="wh : ${warehouses}"
                    th:value="${wh.code}"
                    th:text="${wh.name}"></option>
        </select>
    </label><br>
    <label>수량: <input type="number" th:field="*{quantity}" required /></label><br>
    <button type="submit">입고 등록</button>
</form>
</body>
</html>