<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 주문 생성</title>
</head>
<body>
<div th:insert="fragment/fragments :: nav"></div>
<h1>새 주문 생성</h1>
<form th:action="@{/orders}" th:object="${order}" method="post">
    <label>제품:
        <select th:field="*{product.productId}" required>
            <option value="">--제품 선택--</option>
            <option th:each="prod : ${products}"
                    th:value="${prod.productId}"
                    th:text="${prod.name}"></option>
        </select>
    </label><br>
    <label>수량: <input type="number" th:field="*{quantity}" required /></label><br>
    <button type="submit">생성</button>
</form>
</body>
</html>